/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/dm-sans-v14-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-sans-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Futura-PT';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/FuturaPT-Light.woff') format('woff'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --back-color--part1: rgb(255, 255, 255);
    --back-color--part2: #F4F4F4;
    --back-color--part3: rgb(0, 0, 0);
    --back-color--part4: #037E8C;
    font-size: 62.5%;
}

body {
  font-family: Montserrat, sans-serif, dm-sans;
  background-color: var(--back-color--part1);

}
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.span {
  font-weight: bold;
}
.header__wrapper {
  padding: 0;
  display: flex;
  background: linear-gradient(0deg, rgba(18, 18, 20, 0.75) 0%, rgba(18, 18, 20, 0.75) 100%);
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}
.header__logo {
  width: 50px;
  height: 64px;
  margin: 10px 0 0 20px;
}
.header__burger-menu {
    margin: 10px 0px 0px 200px;
    display: block;
    align-self: flex-end;
    position: relative;
    text-align: center;
    bottom: 20px;
    border: 0;
    background-color: transparent;
}

.maining {
  background-image: url("/image/bg1rev.png");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 0 0; 
}

.maining__information{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 0 5px 0;
  color: var(--back-color--part1);
  background: linear-gradient(0deg, rgba(18, 18, 20, 0.75) 0%, rgba(18, 18, 20, 0.75) 100%);
}

.maining__content {
  margin: 168px 150px 20px 15px;
}
.maining__title {
  font-size: 36px;
  margin: 84px 33px 0;
}
.maining__subtitle {
  font-size: 16px;
}
.maining__subtitle {
  margin: 9px 33px 0 33px;
}
.link, link:visited {
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  text-decoration: none;
  color:var(--back-color--part1);
  background-color: var(--back-color--part4);
  border-radius: 9px;
  padding: 10px 20px;
  margin: 42px 0px 0px 33px;
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
}
.link-image {
  margin: 2px 0 0 10px;
}
.slider {
  display: flex;
  justify-content: flex-start;
  margin: 30px 30px;
}

.slider__scroll{
  position: relative;
  margin: 0 0 0 85px;
  color: white;
  font-size: 18px;
  font-family: Futura-PT;
  font-weight: 300 
}
.slider__scroll::before{
  content: '';
  width: 40px;
  border-bottom: solid 1px #fff;
  position: absolute;
  left: -50px;
  top: 11px;
  z-index: 1;
}
.slider__button-slider {
  margin: 5px 0 0 5px;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: transparent;
  border: 0;
}
.advantages__title {
  font-size: 16px;
}
.advantages__title {
  text-align: center;
  visibility: hidden;
}
.advantages__information {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
.advantages__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  justify-content: center;
  
}
.advantages__list-item {
    margin: 0 0 0 0;
    display: block;
    max-width: 50%;
    flex: 1 1 0;
    white-space: pre-line;
    margin-right: 25px;
}

.advantages__list-image {
  position: relative;
  left: 1px;
}

.advantages__list-description {
  font-size: 14px;
}
.advantages {
  background-color: var(--back-color--part1);
}
.trials {
  background-color: var(--back-color--part2);
}
.trials__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px 0 10px 0;
}
.trials__title {
  text-align: center;
  font-size: 24px;
}
.trials__list {
  list-style: none;
  padding: 0;
  margin: 0 9px 0 10px;
}
.trials__list-item1 {
  background-image: url("/image/bac31.png");
  background-repeat: repeat;
  background-size: auto;
}
.trials__list-item2 {
  background-image: url("/image/bg32.png");
  background-repeat: repeat;
  background-size: auto;
}
.trials__list-item3 {
  background-image: url("/image/bg33.png");
  background-repeat: repeat;
  background-size: auto;
}
.trials__list-title {
  position: relative;
  font-size: 24px;
  margin: 0 0;
}
.trials__list-title::before{
  content: '';
  width: 70px;
  border-bottom: solid 3px var(--back-color--part4);
  position: absolute;
  left: 250px;
  top: 11px;
  z-index: 1;
}
.trials__list-price {
  font-size: 18px;
  margin: 5px 0 0 0;
}
.list-description {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.list-description__item {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.path {
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}
.path-title {
  font-size: 19px;
  margin: 0;
}
.path-discription {
  font-size: 14px;
  margin: 0 0;
}
.trials__list-image {
  margin: 0 7px;
}
.list-description__image {
  width: 13px;
}
.list-description__special {
  display: block;
  font-size: 14px;
}

.trials__span {
  font-weight: bold;
  margin-top: 0;
}

.path__link,  path__link:visited{
  display: inline-block;
  text-decoration: none;
  color:var(--back-color--part4);
  background-color: var(--back-color--part2);
  border: 1px solid var(--back-color--part4);
  padding: 15px 45px;
  text-align: center;
  border-radius: 5px;
  margin: 0px;

}

.path__link-reservation, path__link-reservation:visited {
  display: inline-block;
  text-decoration: none;
  color:var(--back-color--part1);
  background-color: var(--back-color--part4);
  border-radius: 5px;
  border: 1px solid #037E8C;
  padding: 15px 35px;
  margin: 0 0 0 12px;
}
.slider__car {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  margin: 30px 0 0 0;
}
.slider__car-item {
  margin: 0 5px;
  align-self: center;
}
.slider__car-image {
  border-radius: 10px;
  width: 130px;
  height: 156px;
}
.slider__car-image._active {
  border-radius: 10px;
  margin: 0 0;
  width: 187px;
  height: 187px;
}
.slider__photo {
  display: flex;
  justify-content: flex-start;
  margin: 30px 0;
}
.slider__photo-button {
  margin: 5px 0 0 5px;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: transparent;
  border: 0;
}
.slider__photo-scroll {
  position: relative;
  margin: 0 0 0 85px;
  color: black;
  font-size: 18px;
  font-family: Futura-PT;
  font-weight: 300 
}
.slider__photo-scroll::before{
  content: '';
  width: 40px;
  border-bottom: solid 2px black;
  position: absolute;
  left: -60px;
  top: 11px;
  z-index: 1;
}
.help {
  background-color: var(--back-color--part3);
  color: var(--back-color--part1);
  margin: 0 0 20px 0;
  background-image: url("/image/sec_four_back.svg");
}
.help__wrapper {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 30px;
}
.help__title {
  color: white;
  margin: 0;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 31.20px;
  word-wrap: break-word;
  text-align: center;
}
.help__subtitle {
 text-align: center;
 margin: 10px 10px 15px 10px;
 color: white;
 font-size: 16px;
 font-family: Montserrat;
 font-weight: 500;
 line-height: 19.20px;
 word-wrap: break-word
}
.help__link, help__link:visited{
  display: block;
  text-decoration: none;
  color:var(--back-color--part1);
  background-color: var(--back-color--part4);
  border-radius: 9px;
  margin: 0 auto;
  min-height: 18px;
  max-width: 65px;
  padding: 14px 44px;
  position: static;

  text-align: center;
  color: white;
  font-size: 10px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 18.20px;
  word-wrap: break-word;
}

.team{
  background-color: var(--back-color--part1);
}
.team__title {
  text-align: center;
  color: #121214;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 31.20px;
  word-wrap: break-word;
}
.team__list {
  list-style: none;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.person__image  {
  width: 100%; 
  height: 100%
}
.person__name {
  color:var(--back-color--part4);
}
.person__content {
  position: relative;
  bottom: 90px;
  margin: 0 0 0 15px;
}
.person__background {
  width: 100%; 
  height: 100%; 
  background: linear-gradient(0deg, #696969 0%, #696969 100%); 
  border-radius: 9px
}

.conditions {
  background-color: var(--back-color--part2);

}
.conditions__title {
  color: #121214;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 31.20px;
  word-wrap: break-word;
  text-align: center;
}

.conditions__detail {
  background-color: var(--back-color--part1);
  border-radius: 9px;
  padding: 5px;
}

.conditions__wrapper {
  padding: 9px;
  background-image: url("/image/sec_five_back.svg");
}
.detail__span {
  font-weight: bold;
}
.detail {
  margin: 20px 15px 20px 30px;
  padding: 20px;
}
.detail__image {
  display: inline-block;
}
.detail__description {
  margin: 0px 10px 15px 10px;
  position: relative;
  left: 30px;
  bottom: 30px;
  color: #121214;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 16.80px;
  word-wrap: break-word
}
.special-offers__title {
  text-align: center;
  color: #373737;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 31.20px;
  word-wrap: break-word
}
.offers-list {
  list-style: none;
  margin: 15px 15px 35px 15px;
  padding: 0;
}
.offers-list__item{
  border-radius: 9px;
  background-color: var(--back-color--part2);
  width: 60%;
  height: 40%;
  margin: 10px auto; 
  padding: 20px 0;
  background-image: url(/image/figure_bottom.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.offers__span {
  color: var(--back-color--part4);
  font-weight: bolder;
}
.offers-list__info {
  padding: 0 30% 0 0 ;
}
.offers-list__span {
  color: var(--back-color--part4);
  font-weight: bold;
}
.offers-list__link, offers-list__link:visited{
  display: block;
  text-decoration: none;
  font-size: 10px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 18.20px;
  word-wrap: break-word;
  color:var(--back-color--part4);
  background-color: transparent;
  text-align: center;
  border-radius: 5px;
  padding: 6px 20px;
  border: 1px solid #037E8C;
}
.offers-list__image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 9px;
  z-index: 1;
}

.offers-list__wraper {
  position: relative;
  margin: 0 30px 20px 30px;
}
.present{
  margin: 0 0 20px 0;
  padding: 10px 10px;
}
@media (min-width:300px) {
  .present__image {
    width: 60%;
    height: 60%;
  }
}

@media (min-width:360px) {
  .present__image {
    width: 70%;
    height: 70%;
  }
}
@media (min-width:720px) {
  .present__image {
    width: 70%;
    height: 70%;
  }
}
.present__title {
  text-align: center;
  padding: 15px;
  margin: 0 0 0 0;
}
.certificate {
  background-color: var(--back-color--part2);
  background-image: url("/image/sec_five_back.svg");
}

.present__subtitle {
  color: var(--back-color--part4);
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 20.80px;
  margin: 0;
  word-wrap: break-word
}

.present__image {
  display: block;
  margin: 2% auto;
}
.present__description {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word
}

.present__link, present__link:visited {
  display: inline-block;
  text-decoration: none;
  color:var(--back-color--part4);
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 18.20px;
  word-wrap: break-word;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #037E8C;
  padding: 6px 20px;
  margin: 28px 30px 50px 0;
  
}

.helper {
  margin: 20px 20px 10px 20px;
}
.helper__list {
  list-style: none;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.help__list-item {
  border: 0.5px solid #666c6d;
  border-radius: 5px;
}

.help__list-item.__activete {
  border: 0.5px solid var(--back-color--part4);
  border-radius: 5px;
}

.helper__title {
  text-align: center;
  margin: 30px 0 10px 0;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 28.08px;
  word-wrap: break-word
}

.form-answer__description-look {
  margin: 20px 20px 20px 20px;
  color: #393939;
  font-size: 13px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word
}
.form-answer__description-close {
  margin: 20px 20px 20px 20px;
  color: #393939;
  font-size: 13px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 20px;
  visibility: collapse;
  word-wrap: break-word
}

.form-answer__title{
  padding: 0 12px;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
  word-wrap: break-word
}
.form-answer__button {
  background-color: transparent;
  border: 0;
  padding: 0 10px;
}
.answer__button-image {
  display: block;
}
.questioner {

  margin: 20px 0 50px 0;
}
.questioner__header {
  display: flex;
  justify-content: space-between;
}
.help-border {
  border: 2px solid var(--back-color--part4);
}
.questioner__title {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 600;
  text-align: center;
  margin: 0;
  word-wrap: break-word
}
.questioner__image {
  display: block;
  margin: 0 auto;
}
.questioner__description {
  color: #121214;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word
}
.questioner__link, .questioner__link:visited {
  display: block;
  text-decoration: none;
  color:var(--back-color--part1);
  background-color: var(--back-color--part4);
  border-radius: 5px;
  margin: 0 auto;
  min-height: 20%;
  max-width: 35%;
  position: relative;
  text-align: center;
  border: 1px;
  padding: 10px 40px;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 18.20px;
  word-wrap: break-word
}

.questioner__link::before{
  content: '';
  width: 350px;
  border-bottom: solid 3px var(--back-color--part4);
  position: absolute;
  z-index: 1;
  left: -60px;
  top: 80px
}
.navigation__span {
  font-weight: bold;
}
.footer__title {
  position: relative;
  margin: 0;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 33.70px;
}
.footer__image {
  width: 100%;
  max-height: 450px;
  filter: grayscale(100%);
}
.footer__copyright {
  color: #787878;
  margin: 15px 20px 5px 20px;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 15.20px;
  word-wrap: break-word
}
.condition__contacts{
  list-style: none;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.condition__contacts-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.condition__contacts-span {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100px;
  background-color: #037E8C;
}
.condition__contacts-icon {
  margin: 10px auto;
  size: 20px;
}
.condition__contacts-title {
  margin-left: 20px;
  position: relative;
  color: #121214;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 16.80px;
  word-wrap: break-word
}
.footer__date {
  display: flex;
  flex-direction: column;
  padding: 0 0;
}
.social-network-connection {
  margin: 0 0 0 10px;
  display: inline-block;
  color: #121214;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 27.21px;
  word-wrap: break-word
}
.social-network__link-whatsapp, social-network__link-whatsapp:visited {
  display: inline-block;
  margin: 0 10px 0 25px;
  padding: 10px 1px;
  color:var(--back-color--part1)
}
.social-network__link-instagramm, social-network__link-instagramm:visited {
  display: inline-block;
  margin: 0 25px 0 10px;
  padding: 10px 1px;
  color:var(--back-color--part1);
}
.navigation {
  margin: 24px 20px 20px 24px;
}
.footer__logo {
  display: inline-block;
  width: 10%;
  height: 10%;
  margin: 0 0 10% 0;
}
.navigation__list {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0 0 0 30%;
}
.navigation__list-link,  navigation__list-link:visited {
  color: var(--back-color--part3);
  text-decoration: none;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 22.40px;
  word-wrap: break-word
}