/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/dm-sans-v14-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-sans-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Futura-PT';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/FuturaPT-Light.woff') format('woff'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --background-body: rgb(255, 255, 255);
    --highlighted-text: #F4F4F4;
    --basic-text: rgb(0, 0, 0);
    --attention-text: #037E8C;
    font-size: 62.5%;
}

body {
  font-family: Montserrat, sans-serif, dm-sans;
  background-color: var(--background-body);

}
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

*::selection {
  color: var(--attention-text);
  }
.span {
  font-weight: bold;
}
.header__wrapper {
  padding: 0;
  background: linear-gradient(0deg, rgba(18, 18, 20, 0.75) 0%, rgba(18, 18, 20, 0.75) 100%);
  width: 100%;
  display: flex;
  z-index: 1;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header__logo {
  width: 50px;
  height: 64px;
  margin: 10px 0 0 20px;
}
.header__burger-menu {
  margin: 3rem 25rem;
  position: relative;
  text-align: center;
  align-self: flex-end;
  border: 0;
  background-color: transparent;
}

.maining {
  background-image: url("/image/bg1rev.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
  margin: 0; 
}

.maining__information{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 0 5px 0;
  color: var(--background-body);
  background: linear-gradient(0deg, rgba(18, 18, 20, 0.75) 0%, rgba(18, 18, 20, 0.75) 100%);
}

.maining__content {
  margin: 168px 150px 20px 15px;
}
@media (min-width: 768px) {
  .maining__content {
    margin: 168px 150px 20px 15px;
  }
}
.maining__title {
  color:var(--highlighted-text);
  font-size: 3.6rem;
  font-family: Montserrat;
  font-weight: 700;
  margin: 84px 33px 0;
}
.maining__subtitle {
  color: var(--highlighted-text);
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.6rem;
}
.maining__subtitle {
  margin: 9px 33px 0 33px;
}
.link, link:visited {
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  text-decoration: none;
  color:var(--background-body);
  background-color: var(--attention-text);
  border-radius: 9px;
  padding: 10px 20px;
  margin: 42px 0px 0px 33px;
  width: fit-content;
  height: fit-content;
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 600;
}
.link:hover  {
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  text-decoration: none;
  color:#97c2c7;
  background-color: #146770;
  border-radius: 9px;
  padding: 10px 20px;
  margin: 42px 0px 0px 33px;
  width: fit-content;
  height: fit-content;
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 600;
}
.link:hover .link-image { 
  filter: brightness(0.9);
}
.link:active  {
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  text-decoration: none;
  color:#8ebabe;
  background-color: #13626b;
  border-radius: 9px;
  padding: 10px 20px;
  margin: 42px 0px 0px 33px;
  width: fit-content;
  height: fit-content;
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 600;
}
.link::active .link-image { 
  filter: brightness(0.7);
}
.link:active  {
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  text-decoration: none;
  color:#8ebabe;
  background-color: #13626b;
  border-radius: 9px;
  padding: 10px 20px;
  margin: 42px 0px 0px 33px;
  width: fit-content;
  height: fit-content;
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 600;
}
.link::active .link-image { 
  filter: brightness(0.7);
}
.link:focus  {
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  text-decoration: none;
  color:#8ebabe;
  background-color: #13626b;
  outline: none;
  box-shadow: 0 0 3px rgba(0, 48, 49, 0.432);
  border-radius: 9px;
  padding: 10px 20px;
  margin: 42px 0px 0px 33px;
  width: fit-content;
  height: fit-content;
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 600;
}
.link::focus .link-image { 
  filter: brightness(0.6);
}

.link-image {
  margin: 2px 0 0 10px;
}
.slider {
  display: flex;
  justify-content: flex-start;
  margin: 30px 30px;
}

.slider__scroll{
  position: relative;
  margin: 0 0 0 85px;
  color: white;
  font-size: 1.8rem;
  font-family: Futura-PT;
  font-weight: 300 
}
.slider__scroll::before{
  content: '';
  width: 40px;
  border-bottom: solid 1px #fff;
  position: absolute;
  left: -50px;
  top: 11px;
  z-index: 1;
}
.slider__button-slider {
  margin: 5px 0 0 5px;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: transparent;
  border: 0;
}
.slider__button-slider:hover .slider__button-image {
  filter: brightness(0.7); 
}
.slider__button-slider:active .slider__button-image {
  filter: brightness(1); 
  background-color: #037e8c;
}
.slider__button-slider:active  {
  margin: 5px 0 0 5px;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  border: 0;
  background-color: transparent;
}
.slider__button-slider:focus  {
  margin: 5px 0 0 5px;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  border: 0;
  background-color: transparent;
}
.advantages__title {
  font-size: 1.6rem;
  text-align: center;
}
.advantages__information {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
.advantages__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  justify-content: center;
  
}
.advantages__list-item {
    margin: 0 0 0 0;
    display: block;
    max-width: 50%;
    flex: 1 1 0;
    white-space: pre-line;
    margin-right: 25px;
}

.advantages__list-image {
  position: relative;
  left: 1px;
}

.advantages__list-description {
  font-size: 1.4rem;
}
.advantages {
  background-color: var(--background-body);
}
.trials {
  background-color: var(--highlighted-text);
}
.trials__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 3.5rem 0;
}
.trials__title {
  text-align: center;
  font-size: 2.4rem;
  margin: 0;
}
.trials__list {
  list-style: none;
  padding: 0;
  margin: 0 9px 0 10px;
}
.trials__list-item1 {
  background-image: url("/image/bac31.png");
  background-repeat: repeat;
  background-size: auto;
}
.trials__list-item2 {
  background-image: url("/image/bg32.png");
  background-repeat: repeat;
  background-size: auto;
}
.trials__list-item3 {
  background-image: url("/image/bg33.png");
  background-repeat: repeat;
  background-size: auto;
}
.trials__list-title {
  position: relative;
  font-size: 2.4rem;
  margin: 3.6rem 0 0 0;
  font-weight: 600;
}
.trials__list-title::before{
  content: '';
  width: 70px;
  border-bottom: solid 3px var(--attention-text);
  position: absolute;
  left: 250px;
  top: 11px;
  z-index: 1;
}
.trials__list-price {
  font-size: 1.8rem;
  margin: 5px 0 0 0;
}
.list-description {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.list-description__item {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.path {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
}

.path-title {
  font-size: 1.9rem;
  margin: 0;
}

.path-image {
  max-height: 100%;
  margin-right: 10px;
}

.path-discription {
  font-size: 1.4rem;
  margin: 0 0;
  width: calc(100% - 10px); /* Занимает всю доступную ширину с учетом отступа справа */
}

.path__link, .path__link:visited{
  display: block;
  text-decoration: none;
  color: var(--attention-text);
  background-color: var(--highlighted-text);
  border: 1px solid var(--attention-text);
  padding: 15px 45px;
  text-align: center;
  border-radius: 5px;
  margin: 0;
}

.path__link-reservation, .path__link-reservation:visited {
  display: block;
  text-decoration: none;
  color: var(--background-body);
  background-color: var(--attention-text);
  border-radius: 5px;
  border: 1px solid #037E8C;
  padding: 15px 35px;
  margin: 0 0 0 12px;
}

.trials__list-image {
  margin: 0 7px;
}
.list-description__image {
  width: 13px;
}
.list-description__special {
  display: block;
  font-size: 1.4rem;
}

.trials__span {
  font-weight: bold;
  margin-top: 0;
}

.slider__car {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: scroll;
  margin: 30px 0 0 0;
  width: 100%;
}
.slider__car-item {
  margin: 0 5px;
  align-self: center;
}
.slider__car-image {
  border-radius: 10px;
  width: 130px;
  height: 156px;
}
.slider__car-image3 {
  border-radius: 10px;
  width: 130px;
  height: 156px;
}

.slider__car-image._active {
  border-radius: 10px;
  margin: 0 0;
  width: 187px;
  height: 187px;
}
.slider__photo {
  display: flex;
  justify-content: flex-start;
  margin: 30px 0;
}
.slider__photo-button {
  margin: 5px 0 0 5px;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: transparent;
  border: 0;
}
.slider__photo-scroll {
  position: relative;
  margin: 0 0 0 85px;
  color: black;
  font-size: 1.8rem;
  font-family: Futura-PT;
  font-weight: 300 
}
.slider__photo-scroll::before{
  content: '';
  width: 40px;
  border-bottom: solid 2px black;
  position: absolute;
  left: -60px;
  top: 11px;
  z-index: 1;
}
.help {
  background-color: var(--basic-text);
  color: var(--background-body);
  margin: 0 0 20px 0;
  background-image: url("/image/sec_four_back.svg");
}
.help__wrapper {
  padding: 3rem;
}
.help__title {
  color: white;
  margin: 0;
  font-size: 2.4rem;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 31.20px;
  word-wrap: break-word;
  text-align: center;
}
.help__subtitle {
 text-align: center;
 margin: 10px 10px 15px 10px;
 color: white;
 font-size: 1.6rem;
 font-family: Montserrat;
 font-weight: 500;
 line-height: 19.20px;
 word-wrap: break-word
}
.help__link, help__link:visited{
  display: block;
  text-decoration: none;
  color:var(--background-body);
  background-color: var(--attention-text);
  border-radius: 9px;
  margin: 0 auto;
  min-height: 18px;
  max-width: 65px;
  padding: 14px 44px;
  position: static;

  text-align: center;
  color: white;
  font-size: 1.0rem;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 18.20px;
  word-wrap: break-word;
}
.team__wrapper {
  margin: 80px 0 0 0;
}
.team{
  background-color: var(--background-body);
  margin: 4.8rem 0;
}
.team__title {
  text-align: center;
  color: #121214;
  font-size: 2.4rem;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 31.20px;
  word-wrap: break-word;
  margin: 0 0;
}
.team__list {
  list-style: none;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 2rem 0 0 0;
}
.person {
  background: #f4f4f4; 
  border-radius: 9px
}
.person__image  {
  width: auto;
  border-radius: 9px;
  height: 17.9rem
}
.person__name {
  color:var(--attention-text);
  font-size: 1.8rem;
  font-family: Montserrat;
  font-weight: 700;
  margin: 0 0;
}


.person__content {
  position: relative;
  margin: 0 0 0 1rem;
  padding: 0.9rem 0;
}

.person__content:nth-of-type(2n) {
  margin: 0 0 0 0;
}  

.person__position{
  color: var(--basic-text);
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 400;
  margin: 0 0;
}
.person__background {
  width: 100%; 
  height: 100%; 
  background: linear-gradient(0deg, #696969 0%, #696969 100%); 
  border-radius: 9px
}

.title__person:nth-child(even) .person__content {
  margin: 0 0 0 0.5rem;
}


.conditions {
  background-color: var(--highlighted-text);

}
.conditions__title {
  color: #121214;
  font-size: 2.4rem;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 31.20px;
  word-wrap: break-word;
  text-align: center;
  margin: 2.5rem 0 0 0;
}

.conditions__wrapper {
  padding: 0.9rem;
  background-image: url("/image/sec_five_back.svg");
  margin: 4.2rem 0 0 0;

}
.detail__wrapper {
  display: flex;
  flex-direction: column;
}
.detail__span {
  font-weight: bold;
}
.detail {
  background-color: var(--background-body);
  border-radius: 0.9rem;
  padding: 5px;
  margin: 1.7rem 0 0 0;
  padding: 1rem;
  position: relative; 
  min-height: 6rem;
}

.detail__image {
  display: block;
  position: absolute;
  margin: 0 0 0 0; 
}

.detail__description {
  margin: 0 0 0 2.5rem; /* Изменяем отступы параграфа */
  padding: 0 1.3rem;
  color: #121214;
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 400;
}
.special-offers__wrapper {
  margin: 2.5rem 0;
}
.special-offers__title {
  margin: 0 0;
  text-align: center;
  color: #373737;
  font-size: 2.4rem;
  font-family: Montserrat;
  font-weight: 700;
}
.offers-list {
  list-style: none;
  margin: 15px 15px 35px 15px;
  padding: 0;
}
.offers-list__title {
  margin: 0 0;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 800;
}
.offers-list__subtitle {
  margin: 0 0;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
}
.offers-list__dercription {
  color: var(--basic-text);
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
}
.offers-list__item{
  border-radius: 9px;
  background-color: var(--highlighted-text);
  max-width: 30rem;
  margin: 1rem auto; 
  background-image: url(/image/figure_bottom.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 23rem;
  position: relative;
}
.offers__span {
  color: var(--attention-text);
  font-weight: bolder;
}
.offers-list__info {
  padding: 0 3rem 2rem 2rem;
}
.offers-list__span {
  color: var(--attention-text);
  font-weight: bold;
}
.offers-list__link, offers-list__link:visited{
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 18.20px;
  word-wrap: break-word;
  max-width: fit-content;
  color:var(--attention-text);
  background-color: transparent;
  text-align: center;
  border-radius: 5px;
  padding: 6px 20px;
  border: 1px solid #037E8C;
}
.offers-list__image {
  width: 100%; /* занимает 100% ширины .offers-list__wraper */
  max-height: 20rem;
  object-fit: cover;
  border-radius: 9px;
  z-index: 1;
  display: block;
}

.offers-list__wraper {
  position: relative;
  width: 100%;
  margin: 0 0;
}
.present{
  margin: 0 0 20px 0;
  padding: 10px 10px;
}

.present__title {
  text-align: center;
  font-size: 2.4rem;
  font-family: Montserrat;
  font-weight: 700;
  padding: 15px;
  margin: 0 0 0 0;
}
.certificate {
  background-color: var(--highlighted-text);
  background-image: url("/image/sec_five_back.svg");
  margin: 50px 0 0 0;
}

.present__subtitle {
  color: var(--attention-text);
  font-size: 1.6rem;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 20.80px;
  margin: 0;
  text-align: center;
  word-wrap: break-word
}

.present__image {
  display: block;
  margin: 2% auto;
}
.present__description {
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word
}

.present__link, present__link:visited {
  display: inline-block;
  text-decoration: none;
  color:var(--attention-text);
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 18.20px;
  word-wrap: break-word;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #037E8C;
  padding: 6px 20px;
  margin: 28px 30px 50px 0;
  
}

.helper {
  margin: 20px 20px 10px 20px;
}
.helper__list {
  list-style: none;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.help__list-item {
  border: 0.5px solid #666c6d;
  border-radius: 5px;
}

.help__list-item.__activete {
  border: 0.5px solid var(--attention-text);
  border-radius: 5px;
}

.helper__title {
  text-align: center;
  margin: 30px 0 10px 0;
  font-size: 2rem;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 28.08px;
  word-wrap: break-word
}

.form-answer__description-look {
  margin: 20px 20px 20px 20px;
  color: #393939;
  font-size: 1.3rem;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word
}
.form-answer__description-close {
  margin: 20px 20px 20px 20px;
  color: #393939;
  font-size: 1.3rem;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 20px;
  visibility: collapse;
  word-wrap: break-word
}

.form-answer__title{
  padding: 0 12px;
  font-size: 1.6rem;
  font-family: Montserrat;
  font-weight: 600;
  word-wrap: break-word
}
.form-answer__button {
  background-color: transparent;
  border: 0;
  padding: 0 10px;
}
.answer__button-image {
  display: block;
}
.questioner {

  margin: 20px 0 50px 0;
}
.questioner__header {
  display: flex;
  justify-content: space-between;
}
.help-border {
  border: 2px solid var(--attention-text);
}
.questioner__title {
  font-size: 2rem;
  font-family: Montserrat;
  font-weight: 600;
  text-align: center;
  margin: 0;
  word-wrap: break-word
}
.questioner__image {
  display: block;
  margin: 0 auto;
}
.questioner__description {
  margin: 1.1rem 1.1rem;
  color: #121214;
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word
}
.questioner__link, .questioner__link:visited {
  display: block;
  text-decoration: none;
  color:var(--background-body);
  background-color: var(--attention-text);
  border-radius: 5px;
  margin: 0 auto;
  min-height: 20%;
  max-width: 35%;
  position: relative;
  text-align: center;
  border: 1px;
  padding: 10px 40px;
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 18.20px;
  word-wrap: break-word
}

.questioner__link::before{
  content: '';
  width: 350px;
  border-bottom: solid 3px var(--attention-text);
  position: absolute;
  z-index: 1;
  left: -70px;
  top: 80px
}
.navigation__span {
  font-weight: bold;
}
.footer__title {
  position: relative;
  margin: 0;
  font-size: 2.4rem;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 33.70px;
  margin-left: 1.5rem;
}
.footer__image {
  width: 100%;
  object-fit: cover;
  max-height: 450px;
  filter: grayscale(100%);
}
.condition__contacts{
  list-style: none;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.condition__contacts-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.condition__contacts-span {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100px;
  background-color: #037E8C;
}
.condition__contacts-icon {
  margin: 10px auto;
  width: 20px;
  height: 20px;
}
.condition__contacts-title {
  margin: 1.2rem 0 0 2rem;
  position: relative;
  color: #121214;
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 400;
  
}
.contacts__date-title {
  margin: 0.3rem 0 0 2rem;
  position: relative;
  color: #121214;
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 400;
}
.imgser { 
  margin: 0 auto;
}
.imgser__body {
  background-color: #373737;
  border-radius: 0.9rem;
  width: 34.2rem;
  height: 19rem;
  margin: 0 auto;
  background-image: url(/image/figure2.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
}
.imgser__acs {
  position: absolute;
  margin: 0 0;
}
.imgser__info {
  position: absolute;
  margin: 0 0 0 2.2rem;
}
.imgser__title {
  color: var(--basic-text);
  font-size: 3rem;
  font-family: Montserrat;
  font-weight: 900;
  margin: 0 0 0 8rem;
  padding: 1.9rem 0;

}
.imgser__subtitle {
  color: var(--highlighted-text);
  font-size: 1.8rem;
  font-family: Montserrat;
  font-weight: 700;
  margin: 0 0;
  white-space: pre-line;
}
.imgser__desc {
  color: var(--highlighted-text);
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 400;
  margin: 1rem 0 0 0;
}

.imgser__logo {
  position: absolute;
  margin: 0 0;
  padding: 0 0 0 22rem;
}
.footer__date {
  display: flex;
  flex-direction: column;
  padding: 0 0;
}

.social-network {
  display: flex;
  flex-direction: row;
  align-items: center; 
}
.social-network-connection {
  margin: 0 0 0 10px;
  color: #121214;
  font-size: 1.8rem;
  font-family: Montserrat;
  font-weight: 600;
}
.social-network__link-whatsapp, social-network__link-whatsapp:visited {
  margin: 0 0 0 1.5rem;
  padding: 0 0;
  color:var(--background-body)
}
.social-network__link-instagramm, social-network__link-instagramm:visited {
  margin: 0 0 0 1.5rem;
  padding: 0 0;
  color:var(--background-body);
}

.condition__contacts-item {
  padding: 0.5rem 0;
}
.navigation {
  display: flex;
  align-items: center; 
  margin: 1rem 0 0 1rem;
  position: relative;
}
.navigation::before{
  content: '';
  width: 350px;
  border-bottom: solid 0.1rem var(--basic-text);
  position: absolute;
  z-index: 1;
  left: -0.1rem;
  top: 0.1rem
}

.footer__copyright {
  color: #787878;
  margin: 1rem 2rem;
  font-size: 1.2rem;
  font-family: Montserrat;
  font-weight: 400;
  position: relative;
}
.footer__copyright::after{
  content: '';
  width: 350px;
  border-bottom: solid 0.2rem var(--basic-text);
  position: absolute;
  z-index: 1;
  left: -1rem;
  top: -0.5rem
}
.footer__logo {
  padding: 0.5rem 0 6rem 0;
}

.navigation__list {
  list-style: none;
  padding: 0 0 1rem 0;
  margin: 0 0 0 11.4rem;
  display: flex; 
  flex-direction: column;
}

.navigation__list-item {
  padding: 0.5em 0 0 0; 
}

.navigation__list-link, .navigation__list-link:visited {
  color: var(--basic-text);
  text-decoration: none;
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
}


