
/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/dm-sans-v14-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-sans-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Futura-PT';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/FuturaPT-Light.woff') format('woff'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


body {
  font-family: Montserrat, sans-serif, FuturaPT;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__form{
  background-color: #fff;
  padding: 0 0;
  border-radius: 8px;
  width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 150px;
}

label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
  padding: 0 0 0 20px;
  color: black;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.4rem;

}
legend {
  text-align: left;
}
input::placeholder {
  color: #295a53b0;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.4rem;
}
#birthdate {
  color: #295a53b0;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.4rem;
}
.custom-select {
  color: #295a53b0;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.4rem;
}
.custom-select:hover {
  background-color: rgb(253, 255, 255);
  color: #1b3b37b0; 
}
.custom-select option:checked {
  background-color: rgb(211, 240, 240);
  color: #1b3531b0; 
}

#contact-time {
  color: #295a53;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.4rem;
}
input, select {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--attention-text);
  border-radius: 4px;
  box-sizing: border-box;
}
.content {
  margin: 0 auto;
}
.content__title {
  padding-top: 50px;
  justify-content: center;
  color: var(--attention-text);
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.6rem;
}
.fieldset__gender {
  border: 2px solid transparent;
  border-radius: 9px; 
  padding: 15px; 
  margin-bottom: 20px;
}
.legend__gender {
  color: var(--attention-text);
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.4rem;
}
.fieldset__pesonal {
  border: 2px solid  transparent;
  border-radius: 9px; 
  padding: 15px; 
  margin-bottom: 20px;
}
.legend__personal {
  color: var(--attention-text);
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.4rem;
}
.fieldset__contact {
  border: 2px solid  transparent;
  border-radius: 9px; 
  padding: 15px; 
  margin-bottom: 20px;
}
.legend__contact {
  color: var(--attention-text);
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.4rem;
}
.gender__wrapper{
  display: flex;
  flex-direction: row;
}
.contact__content {
  margin: 0 0;
}
.personal__content {
  margin-bottom: 20px;
}
.personal__content label.required:after {
  content: " *";
  color: red;
}
.contact__content label.required:after {
  content: " *";
  color: red;
}
.personal__content::after {
  content: "";
  display: table;
  clear: both;
}
.contact__content::after {
  content: "";
  display: table;
  clear: both;
}

.contact__content input[type="submit"], .form-group input[type="reset"] {
  background-color: #4caf50;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  color: white;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.6rem;
}

.contact__content input[type="reset"] {
  background-color: #f44336;
  color: white;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 4px;
  border: none;
}
.contact__content input[type="submit"]:hover {
  background-color: #45a049;
  color: rgb(209, 209, 209);
}
.contact__content input[type="reset"]:hover {
  background-color: #e0362a; 
  color: rgb(209, 209, 209);
}
.contact__content input[type="submit"]:active {
  background-color: #317e34;
  color: rgba(179, 179, 179, 0.808);
}

.contact__content input[type="reset"]:active {
  background-color: #bb291f; 
  color: rgba(179, 179, 179, 0.808);
}

.contact__content input[type="submit"]:focus{
  outline: none; /* Убираем стандартный фокусовый контур */
  box-shadow: 0 0 5px rgba(16, 56, 0, 0.616); /* Добавляем тень вокруг кнопки при фокусе */
}

.contact__content input[type="reset"]:focus {
  outline: none; /* Убираем стандартный фокусовый контур */
  box-shadow: 0 0 5px rgba(61, 2, 2, 0.514); /* Добавляем тень вокруг кнопки при фокусе */
}
.gender__content {
  display: flex;
  align-items: center;
}

.gender__content input {
  margin-left: 1px;
}

